#img-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#home-content #paragraph {
    margin: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Abel;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    
    /* positioning */
    align-items: center;
    display: block;
    justify-content: center;
}
#home-content iframe {
    margin: 3%;
    display: block;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    /* background-color: rgb(117, 180, 192); */

    border-radius: 10px;
}