#img-logo-other {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-top: 5vw;
}

#members-content {
    /* margin: 3%;
    margin-top: 0;
    padding: 3%;
    background-color: rgb(117, 180, 192); */

    /* positioning */
    align-items: center;
    display: table;
    width: 100%;

    font-family: Dosis;
    font-size: 20px;
    font-weight: bold;
    color: rgb(48, 63, 94);
}

#member-summary {
    text-align: center;
    display: block;
    padding: 1%;
    margin-bottom: 3%;
    margin-top: 0;

    font-family: Lobster;
    font-size: 60px;
    background-color: rgb(117, 180, 192);
}

div.member-card {
    display: table-cell;
    vertical-align: middle;

    margin: auto;
    margin-bottom: 3%;
    margin-top: 0;
    padding: 3vw;
    max-height: 450px;
    max-width: 450px;

    border-style: solid;
    border-radius: 10px;
    border: rgb(238, 202, 197);
    background-color: rgb(238, 202, 197);
    overflow: hidden;

    display:grid;
}

div.member-card iframe {
    width: 1200px;
    height: 1200px;
    border: 0;
    position: inherit;
    transform: scale(0.40);
    transform-origin: 0 0;
}