#img-logo-other {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 5vw;
}

#member-summary {
    color: rgb(48, 63, 94);
    font-weight: 600;
    text-align: center;
    display: block;
    padding: 1%;
    margin-bottom: 3%;
    margin-top: 0;

    font-family: Lobster;
    font-size: 60px;
    background-color: rgb(117, 180, 192);
}

.member-card {
    margin: auto;
    margin-bottom: 3%;
    margin-top: 0;
    padding: 3vw;
    max-height: 500px;
    max-width: 500px;

    border-style: solid;
    border-radius: 10px;
    border: rgb(238, 202, 197);
    background-color: rgb(238, 202, 197);
    overflow: hidden;
}

.member-card iframe {
    width: 1000px;
    height: 1000px;
    border: 0;
    display: flex;

    overflow: hidden;
}