#img-package {
    display: block;
    margin-top: 7vw;
    margin-bottom: 5vw;
    margin-left: auto;
    margin-right: auto;

    width: 60%;
}

#package-body {
    font-size: 20px;
    font-family: Abel;
    background-color: rgb(238, 202, 197);

    display: block;
    margin: 3%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    padding: 3%;
}

#package-body p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#package-body .lists {
    text-align: left;
    line-height: 1.5;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    font-family: Abel;
    font-size: 18px;
}

#package-h {
    line-height: 0.5;
}

#package-body #bold-text {
    font-weight: bold;
}

#package-body ul {
    text-align: left;
}