#references {
    top: 3vw;
    text-align: center;
    margin: 3%;
    margin-bottom: 5%;
}

#references h3 {
    font-family: Lobster;
    text-align: center;
    font-size: 80px;
    color: rgb(106, 156, 134);
}

#references ul {
    text-align: left;
    line-height: 1.75;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    font-family: Abel;
    font-size: 18px;
}